html,
body {
    min-height: 2000px;
    padding-top: 30px;
}

/*for dash board */
.coverD{
}
@media (min-width: 768px) {
  .coverD{
    width:70%;
    text-align: left;
    margin-left: 20px;
  }
}

/*==========dash=========*/
/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #181818;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 10px;
}
@media (min-width: 768px) {
  .main {
/*    padding-right: 40px;
    padding-left: 40px;
*/  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*blog  ===============*/
.col12 {
  clear: both;
}

.container-white {
  position: relative;
}
.container-white .col12 {
  position: relative;
/*  padding-top: 2em;
*/  padding-bottom: 5em;
}
.container-white .col12:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -4.85em;
  right: auto;
  width: 7px;
  background: rgba(188,188,188,0.8);
}

/* Helper Class: Container */
/*.row {
  *zoom: 1;
  max-width: 50.25em;
  _width: 50.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-left: auto;
  margin-right: auto;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
*/
article,
main,
{
  display: block;
}

.blog-item-list {
  position: relative;
/*  padding: 1.75em 0;
*/  border-bottom: 4px solid #F7F7F7;
}
.blog-item-list .article-main, .blog-item-list .blog-footer {
  margin-right: 2em;
}
.blog-item-list .article-main p, .blog-item-list .blog-footer p {
  margin-bottom: 0;
}
.blog-item-list .blog-meta {
  top: 0em;
}

.blog-meta {
  position: absolute;
  top: 3.75em;
  left: -6.25em;
  bottom: auto;
  right: auto;
  z-index: 30;
  padding: .45em .8em;
  color: #fff;
  background: #ee6464;
  text-align: center;
  font-family: 'NovecentowideNormalRegular', Arial, serif;
  font-weight: normal;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}
.blog-meta .day {
  display: block;
  font-size: 1.15em;
  margin-bottom: -7px;
}
.blog-meta .month {
  font-size: .75em;
}

.blog-content, .item-content {
  font-size: 1.1em;
  line-height: 1.65em;
}
.blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6 {
  margin-top: 2em;
}

.blog-content a, .blog-content a:visited, .btn-style, a.btn-style, a.btn-style:visited, .btn-container a, .btn-container a:visited, #submit, #searchform .submit {
  display: inline-block;
  padding: .35em .25em .25em .25em;
  line-height: 1em;
  background: #ee6464;
  color: #FFF;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

.blog-content a:hover, body .tag:hover, a.btn-style:hover, .btn-container a:hover, #submit:hover, #searchform .submit:hover {
  background: #505050;
  color: #fff;
}
