<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>P-book</title>

    <!-- Bootstrap core CSS -->
   <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="./css/flat-ui.css" rel="stylesheet">
    

    <link rel="stylesheet" href="./css/jquery-ui-1.10.4.custom.css">
 <!-- Custom styles for this template -->
     <link href="./css/coverMain.css" rel="stylesheet">
    <link href="./css/dash.css" rel="stylesheet">

    <link rel="shortcut icon" href="./images/favicon.ico">

<!-- ============fancybox=============== -->
<!-- Add fancyBox main JS and CSS files -->
  <link rel="stylesheet" type="text/css" href="./fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen" />
  <!-- Add Button helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="./fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" />
  <!-- Add Thumbnail helper (this is optional) -->
  <link rel="stylesheet" type="text/css" href="./fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" />
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- navbar-default -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">        
            <img src="./images/title.png" class="imgTitle" alt="gggg">
          </a>
        </div>
        <div class="navbar-collapse collapse">

            <!-- <div class="input-group input-group-sm"> -->
              <form class="navbar-form navbar-left llll">
                <input type="text" class="form-control" placeholder="Search Ptt id">
              </form>
            <!-- </div> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>  <!-- container -->
    </div> <!-- navbar -->
