
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
 -->
    <title>P-book</title>

    <!-- Bootstrap core CSS -->
   <link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="../public/css/flat-ui.css" rel="stylesheet">

    <link rel="stylesheet" href="../public/css/jquery-ui-1.10.4.custom.css">
    <!-- Custom styles for this template -->
    <link href="../public/css/coverIndex.css" rel="stylesheet">

    <link rel="shortcut icon" href="../public/images/favicon.ico">

  </head>

  <body>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">         
            <img src="../public/images/title.png" class="imgTitle" alt="gggg">
          </a>
        </div>
        <div class="navbar-collapse collapse">

              <form class="navbar-form navbar-left">
<!--                 <input type="text" class="form-control" placeholder="Search your id">
 -->              </form>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>  <!-- container -->
    </div> <!-- navbar -->

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <img src="../public/images/just word.png" class="imgWord" alt="gggg">
          <img src="../public/images/hometour-3-arrow.png" class="imgArrow" alt="gggg">
          <div class="inner cover">
            <h1 class="splash-head">
              <span class="glyphicon sienna glyphicon-eye-open"></span>
              <div class="splash-subhead">Search PTT ID</div>
            </h1>
            <p class="lead">
              <div class="input-group">
                  <input type="text" class="form-control sss" placeholder="Search Ptt iD" id="txt_name">
                    <span class="input-group-btn">
                      <button id="search" class="btn btn-default" type="submit"> 
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
              </div>
            </p>

              <p class="lead"></p>
              <p>
                <button type="button" class="btn btn-primary btn-lg">Search</button>
              </p>
          </div> <!-- inner cover -->


        </div>  <!-- cover container -->

      </div> <!-- site-wrapper-inner -->

    </div>  <!-- site-wrapper -->
    <div class="conte">
      <div class="container">      
      <!-- START THE FEATURETTES -->
      Feature!!!!!!!!!!!!!!!!!!!!!
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">搜尋Ptt id。<span class="text-muted">凡走過必留下痕跡。</span></h2>
          <p class="lead">找出它曾說過的話, 還原該id的言論視窗, 企圖看出其所擁有的“人格”特質。</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
<!--           <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
 -->

      </div> <!-- container -->
    </div> <!-- conte -->

   <!--  Bootstrap core JavaScript
    ================================================== -->
    <!--  Placed at the end of the document so the pages load faster -->
     <script src="../public/js/jquery-1.8.3.min.js"></script>
    <script src="../public/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="../public/js/jquery.ui.touch-punch.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <script src="../public/js/bootstrap-select.js"></script>
    <script src="../public/js/bootstrap-switch.js"></script>
    <script src="../public/js/flatui-checkbox.js"></script>
    <script src="../public/js/flatui-radio.js"></script>
    <script src="../public/js/jquery.tagsinput.js"></script>
    <script src="../public/js/jquery.placeholder.js"></script>
    <script src="../public/js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="../public/js/application.js"></script>

 <!-- =====my js==== -->
  <script type="text/javascript" src="../public/js/index.js"></script>
  </body>
</html>
