
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
<!--     <link rel="shortcut icon" href="./ico/favicon.ico">
 -->
    <title>P-book</title>

    <!-- Bootstrap core CSS -->
   <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="./css/flat-ui.css" rel="stylesheet">

    <link rel="stylesheet" href="./css/jquery-ui-1.10.4.custom.css">
    <!-- Custom styles for this template -->
    <link href="./css/coverIndex.css" rel="stylesheet">

    <link rel="shortcut icon" href="./images/favicon.ico">

  </head>

  <body id="page-top">
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#page-top">         
            <img src="./images/title.png" class="imgTitle" alt="gggg">
          </a>
        </div>
        <div class="navbar-collapse collapse">

<!--               <form class="navbar-form navbar-left">
 --><!--                 <input type="text" class="form-control" placeholder="Search your id">
 -->              <!-- </form> -->
          <ul class="nav navbar-nav navbar-right">
            <li class="page-scroll"><a href="#page-top">Home</a></li>
            <li class="page-scroll"><a href="#num1">About</a></li>
            <li class="page-scroll"><a href="#num2">Contact</a></li>
          </ul>
          
        </div><!--/.nav-collapse -->
      </div>  <!-- container -->
    </div> <!-- navbar -->

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <img src="./images/search.png" class="imgWord" alt="gggg">
          <img src="./images/hometour-3-arrow.png" class="imgArrow" alt="gggg">
          <div class="inner cover">
            <h1 class="splash-head">
              <span class="glyphicon sienna glyphicon-eye-open"></span>
              <div class="splash-subhead">Search PTT ID</div>
            </h1>
            <p class="lead">
              <div class="input-group">
                  <input type="text" class="form-control sss" placeholder="Search Ptt iD" id="txt_name">
                    <span class="input-group-btn">
                      <button id="search" class="btn btn-default" type="submit"> 
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </span>
              </div>
            </p>

            <div id="dd"></div>

           <!--  <div class="page-scroll">
              <a href="#num1" >
                <img src="./images/down.png" class="imgDown" alt="gggg">
              </a>
            </div> -->

<!--               <p class="lead"></p>
              <p>
                <button type="submit" id="button2" class="btn btn-primary btn-lg">Search</button>
              </p>
 -->          
          </div> <!-- inner cover -->


        </div>  <!-- cover container -->

      </div> <!-- site-wrapper-inner -->

    </div>  <!-- site-wrapper -->
    <div class="conte">
      <div class="container">      
      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider" id="num1">

      <div class="row featurette" >
        <div class="col-md-7">
          <h2 class="featurette-heading">搜尋Ptt id。<span class="text-muted">凡走過必留下痕跡。</span></h2>
          <p class="lead">找出它曾說過的話, 還原該id的言論視窗, 企圖看出其所擁有的“人格”特質。</p>
        </div>
        <div class="col-md-5">
          <video class="featurette-image img-responsive" width="100%" height="100%" controls>
            <source src="./images/video/t1.webm" type="video/WebM">your browser fail
          </video>
        </div>
      </div>

      <hr class="featurette-divider" id="num2">

      <div class="row featurette num2" >
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="尚未完成此功能!">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">對id加上評論，說出自己的看法<span class="text-muted">See for yourself.</span></h2>
          <p class="lead">另類的ptt鄉民版</p>
        </div>
      </div>

      <hr class="featurette-divider" id="num3">

      <div class="row featurette" >
        <div class="col-md-7">
          <h2 class="featurette-heading">痕跡畢露功能。 <span class="text-muted">讓你一眼看出在哪裏留了屁</span></h2>
          <p class="lead">找找自己有興趣的id，看看他/她到底是個什麼樣的人吧！</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="尚未完成此功能!">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

      <!-- FOOTER -->
<!--       <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
 -->
 <!--           <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
 -->

      </div> <!-- container -->
    </div> <!-- conte -->

   <!--  Bootstrap core JavaScript
    ================================================== -->
    <!--  Placed at the end of the document so the pages load faster -->
     <script src="./js/jquery-1.8.3.min.js"></script>
    <script src="./js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="./js/jquery.ui.touch-punch.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap-select.js"></script>
    <script src="./js/bootstrap-switch.js"></script>
    <script src="./js/flatui-checkbox.js"></script>
    <script src="./js/flatui-radio.js"></script>
    <script src="./js/jquery.tagsinput.js"></script>
    <script src="./js/jquery.placeholder.js"></script>
    <script src="./js/jquery.stacktable.js"></script>
    <script src="http://vjs.zencdn.net/4.3/video.js"></script>
    <script src="./js/application.js"></script>

  <!-- d3 js -->
  <script src="./js/d3.min.js"></script>
  <script src="./js/d3.layout.cloud.js"></script>

 <!-- =====my js==== -->
  <script type="text/javascript" src="./js/index1.js"></script>
  </body>
</html>
