/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #233140;
  /*background-color: rgba(11,16,21,1);*/
/*  font-family: ProximaNova;
*//*    background-image:url('../Art-Black-Background-Free-Download.jpg');
*/  
/*    background-image:url('../Monkee-Boy Blurred Backgrounds/bkg-4.jpg');  
*/ /*   background-size: cover;
    background-position: center 0;
    background-attachment: fixed;*/
/*    min-height: 2000px;
    padding-top: 50px;
*/}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
hr{
  margin-top: 15px;
  margin-bottom: 15px;
}

.imgTitle {
  width:100px;
  position: absolute;
  margin-top: -13px;
}

/*font*/

.splash-head span{
    font-size: 130px;
}


.ffff{
  font-size: 30px;
  text-align: center;
/*  padding-top: 10px;
*//*  margin-left: -50px;
*/}
.ffl{
  font-size: 26px;
  text-align: left;
/*  padding-top: 10px;
*//*  margin-left: -50px;
*/}
.ffr{
  font-size: 26px;
  text-align: right;
/*  padding-top: 10px;*/
/*  margin-left: -50px;
*/}
.s30{
  font-size: 30px;
}
.s20{
  font-size: 20px;
}



.xing{
  font-family: "xingshu";
  font-size: 150px;
}

/*table showing*/
.fontt{
/*  font-size:25px;
*/  color:#777;
}

.yellow{
  color:#FFD700;
}
.grey{
  color:#777;
}

.fonttt{
  color:#FFFFFF;
}
.red{
  color:red;
}

.fontt,.fonttt,.red{
  font-size: medium;
}
.grey{
  /*font-size: small;*/
  font-size: x-small;
}


.fook{
  font-family: "文泉驛微米黑", "微軟正黑體", sans-serif;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 10px;
}
/* font spacing*/
.topp{
  margin-top: 20px;
}
.top{
  margin-top: 10px;
}

/* positionning*/
.left{
  margin-left: 10px;
}
.llll{
  margin-left: 85px;
}

/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
  width:80%;
  margin-left: auto;
  margin-right: auto;
/*  border: 3px solid white;  
*/}
.coverJ{
  width:60%;
}
.naa{
   width:27.9%;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
.cover-heading{
  font-size: 80px;
}
.Three-Dee1{
font-family: Garamond, serif;
line-height: 1em;
color: #fff9d6;
/*font-weight:bold;
font-size: 155px;
*/text-shadow:0px 0px 0 rgb(166,166,166),1px 0px 0 rgb(134,134,134),2px 0px 0 rgb(102,102,102),3px 0px 0 rgb(71,71,71),4px 0px 0 rgb(39,39,39),5px 0px 0 rgb(7,7,7),6px 0px 0 rgb(-25,-25,-25),7px 0px 0 rgb(-57,-57,-57), 8px 0px 0 rgb(-89,-89,-89),9px 0px 8px rgba(0,0,0,1),9px 0px 1px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,.2);}

.Three-Dee2{
font-family: Geneva, serif;
line-height: 1em;
color: #fff9d6;
font-size: 99px;
text-shadow:0px 0px 0 rgb(184,184,184),1px 1px 0 rgb(163,163,163),2px 2px 0 rgb(141,141,141),3px 3px 0 rgb(120,120,120),4px 4px 0 rgb(99,99,99),5px 5px 0 rgb(78,78,78),6px 6px 0 rgb(56,56,56),7px 7px 0 rgb(35,35,35),8px 8px 0 rgb(14,14,14),9px 9px 0 rgb(-7,-7,-7),10px 10px 0 rgb(-29,-29,-29),11px 11px 0 rgb(-50,-50,-50), 12px 12px 0 rgb(-71,-71,-71),13px 13px 12px rgba(0,0,0,1),13px 13px 1px rgba(0,0,0,0.5),0px 0px 12px rgba(0,0,0,.2);}

@media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width:80%;
  }
}

/*from bootstrap*/
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.4;
}
@media (min-width: 768px) {
  .lead {
    font-size: 21px;
  }
}

/*jumbotron*/
.radius{
  border-radius: 6px;
  color:black;
  box-shadow: 0px 0px 15px 4px #f29c9c;
}
/*blue*/
.splash {
    /* absolute center .splash within .splash-container */
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
/*    border: 3px solid white;
*/    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    border: 3px solid white;
    padding:5px;
    margin-right: auto;
    margin-left: auto;
    width:40%;
}

.borderOnly{
    border: 3px solid white;
    background-color: #34495E;
}

.bb{
  background-color: rgba(11,16,21,1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.bo{
  background-color: rgba(52,152,219,1);
  border-radius: 3px;
}

.bor{
  /*width:40%;*/
/*  height:100%;
*/  background-color: rgba(41,128,185,1);
  border-radius: 3px;
}

.borr{
  width:60px;
/*  height:100%;
*/  background-color: rgba(101,103,107,1);
  border-radius: 3px;
  margin-left: auto;
  margin-right:auto;
}

.arrow-up{
    border-left: 25px solid white;
    border-bottom: 25px solid #2D89EF;
    border-right: 25px solid white;
    display: inline-block;
}

ul { 
  list-style-type: none; 
  padding-left: 0px; 
}