@charset "UTF-8";

/* ======================================== */
/* functional styles required by Javascript */
/* ======================================== */
div.messagebox {
  color: white;
  background: #2f2f2f;
  width: 300px;
  height: 600px;
}